.container-fluid{
  width: 70%;
  padding: 25px;
  background-color: white;
}

.row{
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
h3{
  font-size: 15px;
}
#contact, footer{
  text-align: center;
}
.shape {
  position: fixed;
  z-index: -5;
}
.shape--0 {
  top: 15vh;
  left: 5vw;
}
.shape--1 {
  top: 15vh;
  left: 50vw;
}
.shape--2 {
  top: 15vh;
  left: 80vw;
}
.shape--3 {
  top: 50vh;
  left: 5vw;
}
.shape--4 {
  top: 50vh;
  left: 50vw;
}
.shape--5 {
  top: 50vh;
  left: 80vw;
}
.shape--6 {
  top: 80vh;
  left: 5vw;
}
.shape--7 {
  top: 80vh;
  left: 50vw;
}
.shape--8 {
  top: 80vh;
  left: 80vw;
}

